@model Elev99.Models.CollectedData

@{
    ViewData["Title"] = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4> </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Andar
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Floor)
        </dd>
        <dt>
            Elevador
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Elevator)
        </dd>
        <dt>
            Turno
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Shift)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
