@{
    ViewData["Title"] = "Sobre";
}
<h2>Sobre</h2>
<h3>Aplicação mobile feita para prova admissional da Apisul</h3>

<p>Feito por: Ravel Goulart Andrade</p>
<a href="https://github.com/ravel-andrade">gitHub</a>
<p>Contato: (51)998862954</link></p>
