<div class="row">
    
    <div style="text-align: center; padding-top:4em;">
        <h1 >ELEV99</h1>
        <h2 style="padding-top:2em;"> Sistema de monitoramento de elevadores</h2>
        
    </div>

    <footer style="text-align: center; padding-top: 5em;">
        <a asp-area="" asp-controller="CollectedDatas" asp-action="Index"><button class="btn btn-default">Começar</button></a>
    </footer>
    
</div>